email.json
{
  "name": "email",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "telegram-trigger",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an email and reminder scheduling agent.\n\nIncoming Telegram messages may request ONE of the following actions:\n1) Get emails\n2) Send an email\n3) Set a calendar reminder\n\nYou MUST first identify the user’s intent based on the message content and execute ONLY the requested action.\n\nINTENT RULES:\n\n1) GET EMAILS\nIf the message asks to read, check, fetch, or get emails:\n- Retrieve emails using the available email tool.\n- Do NOT send emails.\n- Do NOT create calendar events.\n\n2) SEND EMAIL\nIf the message asks to send an email and contains an email address:\n- Generate and send an email using the provided message text.\n- Do NOT create a calendar event unless the message explicitly asks to set a reminder.\n\n3) SET CALENDAR REMINDER\nIf the message asks to set a reminder and contains a date written in human-readable form (for example: \"23 june 2026\"):\n- Extract the date.\n- Create exactly ONE Google Calendar event on the extracted date.\n\nTIME HANDLING:\n- If a time is mentioned, use it.\n- If no time is mentioned, set the event from 9:00 AM to 10:00 AM local time.\n\nCALENDAR EVENT REQUIREMENTS:\n- Use the extracted date.\n- Include a clear and relevant title based on the message.\n- Include exactly one alarm-style reminder (notification).\n\nEXECUTION RULES:\n- Execute only the action explicitly requested.\n- Do not combine actions unless the user clearly asks for multiple actions.\n- Do not explain your actions.\n- Do not ask questions.\n- Execute all actions using the available tools only.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "gmail-get-messages",
      "name": "Get many messages in Gmail"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        464,
        304
      ],
      "id": "gmail-send-message",
      "name": "Send a message in Gmail"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "telegram-send-message",
      "name": "Send a text message"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
       "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {},
  "tags": []
}
